.header {
    background-color: var(--background-primary-color);
    max-width: 1440px;
    margin: 0 auto;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: box-shadow 0.3s ease-in-out;
}

.scrolled {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container {
    padding: 14px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoSet {
    display: flex;
    gap: 8px;
    align-items: center;
}

.burgerBtn {
    background: transparent;
    border: none;
    display: block;
}

/* .burgerIcon {
    stroke: black;
    fill: black;
    visibility: visible;
} */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.4px;
}

.nav {
    display: none;
}

.navLink {
    font-size: 16px;
    line-height: 1.25;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.navLink:hover,
.navLink:focus,
.navLink.active {
    color: var(--button-primary-color);
}

.navLink::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: var(--button-primary-color);
    border-radius: 50%;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);

    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navLink.active::after {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

/* Auth buttons */
.auth {
    display: none;
}

.loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: none;
    background-color: transparent;
    transition: color 0.3s ease-in-out;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
}

.loginBtn:hover,
.loginBtn:focus {
    color: var(--button-primary-color);
}

.registerBtn {
    display: flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 12px;
    background-color: var(--text-primary-color);
    transition: background-color 0.3s ease-in-out;

    color: var(--background-primary-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
}

.registerBtn:hover,
.registerBtn:focus {
    background-color: var(--button-primary-color);
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userIcon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--text-secondary-color);
    padding: 10px;
}

.userIcon svg {
    fill: var(--background-secondary-color);
}

.userName {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
}

.logoutBtn {
    display: flex;
    padding: 10px 16px;
    height: 48px;
    justify-content: center;
    align-items: center;
    
    border-radius: 12px;
    border: 1px solid var(--text-primary-color);
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    
    color: var(--text-primary-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
}

.logoutBtn:hover {
    border: 1px solid var(--button-primary-color);
}

@media screen and (min-width:768px) {
    .container {
        padding: 20px 32px;
    }

    .burgerBtn {
        display: none;
    }

    .nav {
        align-items: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        display: flex;
    }

    .navLink::after {
        bottom: -10px;
    }

    .auth {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .registerBtn {
        padding: 12px 20px;
    }
}

@media screen and (min-width:1024px) {
    .container {
        padding: 20px 128px;
    }

    .nav {
        gap: 28px;
    }

    .registerBtn {
        padding: 14px 39px;
    }
}
