.filtersContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.label {
    color: var(--text-secondary-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.28;
}

.button {
    background: var(--background-primary-color);
    border: none;
    padding: 14px;
    border-radius: 14px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 90px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.11;
}

.arrow {
    fill: none;
    stroke: black;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 6px;
    top: 100%;
    left: 0;
    background: var(--background-primary-color);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 4px;
    padding: 14px 0;
    width: 100%;
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    visibility: hidden;
}

.menu.open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.menuItem {
    padding: 4px 18px;
    cursor: pointer;
    transition: background-color 0.2s;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.11;
    color: var(--text-secondary-color);
    /* color: rgba(18, 20, 23, 0.20) */
}

.menuItem:hover {
    background-color: #f5f5f5;
    color: var(--text-primary-color);
    font-weight: 500;
}

.selected {
    color: var(--text-primary-color);
    font-weight: 500;
}

@media screen and (min-width:768px) {
    .label {
        font-size: 14px;
    }

    .button {
        min-width: 180px;
        height: 48px;
        font-size: 18px;
        padding: 16px 18px;
    }

    .menuItem {
        font-size: 16px;
    }
}