@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
    url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.woff2') format('woff2'),
    url('./fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
    url('./fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Italic.woff2') format('woff2'),
    url('./fonts/Roboto-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

:root {
  --font-family: 'Roboto', sans-serif;

  /*BG colors*/
  --background-primary-color: #FFFFFF;
  --background-secondary-color: #F8F8F8;

  /*Text colors*/
  --text-primary-color: #121417;
  --text-secondary-color: #8A8A89;
  --text-primary-light-color: #ffffff;
  --text-money-color: #38CD3E;

  /*Button-colors*/
  --button-primary-color: #F4C550;
  --button-focus-color: #FBE9BA;
}

/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  color: var(--text-primary-color);
  background-color: var(--background-primary-color);
  line-height: 1.6;

  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}
